@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.end_total {
    text-align: center;
    border: 1px solid black;
    font-size: 10pt;
    font-weight: bold;
}

.arrows {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 9pt;
}

td.end_total:nth-child(even) {
    /* background-color: rgb(220, 229, 236); */
}

td.arrows:nth-child(odd) {
    /* background-color: rgb(220, 229, 236); */
}

td.arrows:nth-last-child(2) {
    background-color: #ffdf89;
    border-left: 3px double black;
}

td.end_total:nth-last-child(2) {
    background-color: #ffdf89;
    border-left: 3px double black;
}

tr.gap>td {
    font-size: 7pt;
    padding-bottom:1px;
    margin:0pt;
    line-height: 10px;
    height: 12px;
}

th.round {
    font-size: 16pt;
    padding-right: 0.25em;
    padding-left: 0.25em;
    text-align:center;
    background-color: #ffdf89;
    border: solid black 1px;
}
.round {
    padding: 0;
    margin: 0;
    font-size: 6pt;
    text-align: center;
}

th {
    text-align: left;
    padding: 0;
    padding-right: 1em;
    margin: 1em;
    font-size: 9pt;
}
.competitors {
    cursor: pointer;
}

.nine {
    background-color: darkslateblue;
    padding-left: 2pt;
    padding-right: 2pt;
    color: white;
}

.ten {
    padding-left: 2pt;
    padding-right: 2pt;
    background-color: darkred;
    color: white;
}

h1 {
    text-align: center;
    font-weight: bold;
}
h2 {
    text-align: center;
}

h2.division {
    text-align: left;
    color: navy;
    margin-top: 5pt;
    margin-bottom: 4pt;
    cursor: pointer;
    padding-left: 1em;
    border-top: 1px solid navy;
    border-bottom: 1px solid lightgrey;
}

table.details {
    margin-left: 2em;
    margin-bottom: 1em;
}

table.competitors {
    margin-left: 1em;
}